<!-- Tabulatore JS and CSS Links -->
<link href="/node_modules/tabulator-tables/dist/css/bulma/tabulator_bulma.min.css" rel="stylesheet">
<script type="text/javascript" src="/node_modules/tabulator-tables/dist/js/tabulator.min.js"></script>

<!-- Jspreadsheet-CE -->
<link href="/node_modules/jsuites/dist/jsuites.css" rel="stylesheet">
<link href="/node_modules/jspreadsheet-ce/dist/jexcel.css" rel="stylesheet">
<script type="text/javascript" src="/node_modules/jsuites/dist/jsuites.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Material+Icons">

<!-- GridJS -->
<link href="/node_modules/gridjs/dist/theme/mermaid.css" rel="stylesheet">

<!-- Canvas Datagrid -->
<script type="text/javascript" src="/node_modules/canvas-datagrid/dist/canvas-datagrid.js"></script>


<!DOCTYPE html>
<html lang="en">
<%- include("partials/head")%>

    <body>
        <%- include('partials/navbar') %>
            <h1 style="margin-top: 3.5rem;">Show Cost Report</h1>
            <div id="myGrid" style="width: 100%; height:100%;"></div>
    </body>

</html>

<script>
    // Get show data from ejs variable
    let show= <%- JSON.stringify(show)%>;

    var grid;
    var data=[];
    // Generate Data
    for (set of show.sets) {
        data.push({
            setCode: set.setCode,
            episode: set.episode,
            setName: set.name,
            location: set.location,
        })
    }
    var columns=[
        { id: "SetCode", name: "Set Code", field: "setCode", width: 100, editor: Slick.Editors.Text, sortable: true },
        { id: "Episode", name: "Episode", field: "episode", width: 100, editor: Slick.Editors.Text, sortable: true },
        { id: "Set Name", name: "Set Name", field: "setName", width: 300, editor: Slick.Editors.Text, sortable: true },
        { id: "Location", name: "Location", field: "location", width: 300, editor: Slick.Editors.Text, sortable: true },
        { id: "Notes", name: "Notes", field: "notes", width: 300, editor: Slick.Editors.Text, sortable: true },
        { id: "Current", name: "Current", field: "currentEstimate", width: 150, editor: Slick.Editors.Text, sortable: true },
        { id: "Previous", name: "Previous", field: "previousEstimate", width: 150, editor: Slick.Editors.Text, sortable: true },
        { id: "Variance", name: "Variance", field: "variance", width: 150, editor: Slick.Editors.Text, sortable: true },
        { id: "NoFringes", name: "No Fringes", field: "currentNoFringes", width: 150, editor: Slick.Editors.Text, sortable: true },
    ];
    var options={
        editable: true,
        enableAddRow: true,
        enableCellNavigation: true,
        asyncEditorLoading: false,
        autoEdit: false,
    };
    var newRowIds=0;

    var undoRedoBuffer={
        commandQueue: [],
        commandCtr: 0,

        queueAndExecuteCommand: function (editCommand) {
            this.commandQueue[this.commandCtr]=editCommand;
            this.commandCtr++;
            editCommand.execute();
        },

        undo: function () {
            if (this.commandCtr==0) { return; }

            this.commandCtr--;
            var command=this.commandQueue[this.commandCtr];

            if (command&&Slick.GlobalEditorLock.cancelCurrentEdit()) {
                command.undo();
            }
        },
        redo: function () {
            if (this.commandCtr>=this.commandQueue.length) { return; }
            var command=this.commandQueue[this.commandCtr];
            this.commandCtr++;
            if (command&&Slick.GlobalEditorLock.cancelCurrentEdit()) {
                command.execute();
            }
        }
    }

    // Redo/Undo shortcut
    $(document).keydown(function (e) {
        if (e.which==90&&(e.ctrlKey||e.metaKey)) {    // CTRL + (shift) + Z
            if (e.shiftKey) {
                undoRedoBuffer.redo();
            } else {
                undoRedoBuffer.undo();
            }
        }
    });

    var pluginOptions={
        clipboardCommandHandler: function (editCommand) { undoRedoBuffer.queueAndExecuteCommand.call(undoRedoBuffer, editCommand); },
        readOnlyMode: false,
        includeHeaderWhenCopying: false,
        newRowCreator: function (count) {
            for (var i=0; i<count; i++) {
                var item={ id: "newRow_"+newRowIds++ }
                grid.getData().addItem(item);
            }
        }
    };

    grid=new Slick.Grid("#myGrid", data, columns, options);
    grid.setSelectionModel(new Slick.CellSelectionModel());
    grid.registerPlugin(new Slick.CellExternalCopyManager(pluginOptions));

    // Add new row callback
    grid.onAddNewRow.subscribe(function (e, args) {
        var item=args.item;
        var column=args.column;
        grid.invalidateRow(data.length);
        data.push(item);
        grid.updateRowCount();
        grid.render();
    });

    // FINISH THIS SO IT CAN SORT DATES AND PRICES PROPERLY
    grid.onSort.subscribe(function (e, args) {
        const sortColumnIndex=grid.getColumns().indexOf(args.sortCol);
        var gridData=grid.getData();

        if (args.sortAsc) {
            gridData.sort(function (a, b) {
                let aVal=a[sortColumnIndex];
                let bVal=b[sortColumnIndex];
                if (aVal[0]=='$'&&bVal[0]=='$') {
                    aVal=aVal.slice(1).replace(',', '');
                    bVal=bVal.slice(1).replace(',', '');
                }

                let aNum=(new Number(aVal)).toString();
                let bNum=(new Number(bVal)).toString();

                if (aNum!='NaN'&&bNum!='NaN') { return aVal-bVal }
                if (aVal>bVal) { return 1 }
                return -1;
            });
        }
        else {
            gridData.sort(function (a, b) {
                let aVal=a[sortColumnIndex];
                let bVal=b[sortColumnIndex];
                if (aVal[0]=='$'&&bVal[0]=='$') {
                    aVal=aVal.slice(1).replace(',', '');
                    bVal=bVal.slice(1).replace(',', '');
                }

                let aNum=(new Number(aVal)).toString();
                let bNum=(new Number(bVal)).toString();

                if (aNum!='NaN'&&bNum!='NaN') { return bVal-aVal }
                if (bVal>aVal) { return 1 }
                return -1;
            });
        }
        grid.setData(gridData);
        grid.invalidate();
        grid.render();
    });

</script>

<%- include("partials/tail") %>

    <!-- <section id="recents">
                    <h3>Recents</h3>
                    <div id="recentLinkContainer">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Budget</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Russel Mania 6</h6>
                                <p class="card-text"></p>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Estimate</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Russel Mania 6</h6>
                                <p class="card-text"></p>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Current Week</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Hell's Angels</h6>
                                <p class="card-text"></p>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Budget</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Hell's Angels</h6>
                                <p class="card-text"></p>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Budget</h5>
                                <h6 class="card-subtitle mb-2 text-muted">The Matrix</h6>
                                <p class="card-text"></p>

                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Estimate</h5>
                                <h6 class="card-subtitle mb-2 text-muted">Apollo 13</h6>
                                <p class="card-text"></p>

                            </div>
                        </div>
                    </div>
                </section> -->