<div id="delete-show-warning-modal" class="grid-modal" style="background-color: white;">
    <h3>Are you sure you want to delete <div id="delete-show-warning-modal-show-name"></div>
    </h3>
    <div id="delete-show-warning-modal-id-container" style="display: none;"></div>
    <div class="modal-button-container">
        <button id="delete-show-warning-modal-cancel" onclick="toggleDeleteShowWarningModal(false)"
            style="color: black; background-color: white;">Cancel</button>
        <button id="delete-show-warning-modal-submit" onclick="toggleDeleteShowWarningModal(false, true)"
            style="color: red; background-color: white;">Delete</button>
    </div>
</div>