<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
    <%= title %>
</title>

<!-- Bootstrap-->
<link rel="stylesheet" type="text/css" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
<script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<!-- Feather-icons -->
<script src="/node_modules/feather-icons/dist/feather.min.js"></script>

<!-- Stylesheets -->
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/autocomplete.css">

<!-- Server args -->
<script> var _args= <%- JSON.stringify(args)%>; </script>