<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img id="navbar-simple-logo" src="../public/images/favicon.ico"
            style="height: 2rem; width: 2rem; margin-right: 5px;">
        <a class="navbar-simple-brand" style="font-size: 1.4rem;"><img style="width: 130px;"
                src="../public/images/Clapper_Logo.png"></a>
    </div>
</nav>