<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <img id="navbar-simple-logo" src="../public/images/favicon.ico"
            style="height: 2rem; width: 2rem; margin-right: 8px;">
        <a class="navbar-simple-brand" style="font-size: 1.4rem;"><b>Clapper</b><sup
                style="font-size: 0.8rem;">&nbsp;.ca</sup></a>
    </div>
</nav>