<nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-simple-brand" style="font-size: 1.4rem;" href="<%=args.server%>"><img style="width: 130px;"
                src="../public/images/Clapper_Logo.png"></a>
    </div>
</nav>