<div id="add-user-to-ap-modal" class="grid-modal" style="min-height: 5rem; min-width: 15rem;">
    <div id="add-user-to-ap-modal-message"
        style="display: flex; justify-content: space-between; width: 100%; align-items: center;">

    </div>
    <input id="add-user-to-ap-modal-input">
    <div id="add-user-to-ap-modal-memory" style="display: none;"></div>
    <div class="modal-button-container">
        <button id="add-user-to-ap-modal-close" onclick="toggleAddUserToApModal(false)"
            style="color: black;">Cancel</button>
        <button id="add-user-to-ap-modal-new" onclick="toggleAddUserToApModal(false,false,true)"
            style="color: green;">Add</button>
    </div>
</div>