<div id="delete-week-warning-modal" class="grid-modal">
    <h5 style="display: flex;">Delete Week&nbsp;<div id="delete-week-warning-modal-number"></div>&nbsp;?
    </h5>
    <h7>This action is permanent.</h7>
    <br>
    <div id="delete-week-warning-modal-storage" style="display: none;"></div>
    <div class="modal-button-container">
        <button onclick="toggleDeleteWeekWarningModal(false)" style="color: black;">Cancel</button>
        <button onclick="toggleDeleteWeekWarningModal(false,'','',true)" style="color: red">Delete</button>
    </div>
</div>