<div id="edit-data-filter-modal" class="grid-modal" style="min-height: 5rem; min-width: 80px;">
    <div id="edit-data-filter-modal-message"></div>
    <label for="data-filter-column-input" id="data-filter-column-input-label"
        style="display: none; margin-top: 5px;">Enter filter
        column:</label>
    <input type="text" id="data-filter-column-input" name="data-filter-column-input" style="width: 100%;">
    <div id="edit-data-filter-modal-memory" style="display: none;"></div>
    <label for="edit-data-filter-modal-input" id="edit-data-filter-modal-input-label" style="margin-top: 5px;">Enter
        filtered
        values separated by commas:</label>
    <input id="edit-data-filter-modal-input" name="edit-data-filter-modal-input" style="margin-top: 10px; width: 100%;">
    <div class="modal-button-container">
        <button id="edit-data-filter-modal-delete"
            onclick="toggleEditDataFilterModal(false,false,false,false,false,false,true)"
            style="color: red;">Delete</button>
        <button id="edit-data-filter-modal-save" onclick="toggleEditDataFilterModal(false,false,false,false,false,true)"
            style="color: green;">Save</button>
    </div>
</div>