<div id="validation-modal" class="grid-modal" style="min-height: 5rem; min-width: 15rem;">
    <h4 style="color: red;" id="validation-modal-header"></h4>
    <div id="validation-modal-message"></div>
    <div id="validation-container" style="max-height: 16rem; overflow-y: scroll; padding: 5px; width: 100%;">
    </div>
    <div class="modal-button-container">
        <button id="validation-cancel" onclick="toggleValidationModal(false)" style="color: black;">OK</button>
    </div>
</div>