<div id="week-ending-modal" class="grid-modal">
    <b>Weeks:</b>
    <div id="week-ending-modal-weeks-container" style="max-height: 20rem; overflow-y: scroll;">
    </div>
    <br>
    <div class="modal-button-container">
        <button onclick="toggleWeekEndingModal(false)" style="color: black;">Close</button>
        <button onclick="toggleAddWeekModal(true)" style="color: green">New Week</button>
    </div>
</div>