<div id="grid-container">
    <div id="myGrid"></div>
    <div id="grid-footer">
        <div id="week-ending-display-container" style="display: flex;" onclick="toggleWeekEndingModal(true)">
            <div id="week-ending-display" style="font-weight: bold; margin-left: 5px;"></div>
            <div id="week-ending-latest-indicator" style="color: grey; display: none">&nbsp; - Latest</div>
        </div>
        <div id="grid-footer-totals-container" style="display: flex; overflow-x: scroll; margin-right: 5px;">
            Totals:
            <div id="grid-footer-totals"></div>
        </div>
    </div>
</div>
<ul id="contextMenu" style="display:none;position:absolute"></ul>