<div id="generate-timesheets-modal" class="grid-modal" style="min-height: 5rem; min-width: 15rem;">
    Choose .xlsx file to use as timesheet template:
    <input type="file" id="timesheet-template-selection">
    <div class="modal-button-container">
        <button id="generate-timesheets-modal-cancel" onclick="toggleGenerateTimesheetsModal(false)"
            style="color: black;">Cancel</button>
        <button id="generate-timesheets-modal-generate" onclick="toggleGenerateTimesheetsModal(false, true)"
            style="color: green">Generate</button>
    </div>
</div>