<div id="open-timesheet-map-modal" class="grid-modal" style="min-height: 5rem; min-width: 15rem;">
    <div id="open-timesheet-map-list-container"
        style="display: flex; flex-direction: column; width: 100%; max-height: 20rem; overflow-y: scroll;">
    </div>
    <div class="modal-button-container">
        <button id="open-timesheet-map-modal-cancel" onclick="toggleOpenTimesheetMapModal(false)"
            style="color: black;">Close</button>
    </div>
</div>