<div id="add-multiplier-modal" class="grid-modal" style="min-height: 5rem;">
    Enter the work-day hour after which <br>this rate multiplier takes effect:
    <input type="text" width="20px" id="add-multiplier-input" style="width: 100%;">
    <div class="modal-button-container">
        <button id="add-multiplier-modal-cancel" onclick="toggleAddMultiplierModal(false)"
            style="color: black;">Cancel</button>
        <button id="multipliers-modal-submit" onclick="toggleAddMultiplierModal(false, true)"
            style="color: green">Add</button>
    </div>
</div>