<table class="table" id="multipliers-table">
    <thead>
        <tr id='multiplier-headers'>
            <th scope="col">Hour</th>
        </tr>
    </thead>
    <tbody id="multiplier-rows">
    </tbody>
</table>