<div id="add-fringe-modal" class="grid-modal" style="min-height: 5rem; min-width: 15rem;">
    New fringe name:
    <input id="add-fringe-input" style="width: 100%;" type="text">
    <div class="modal-button-container">
        <button id="add-fringe-modal-cancel" onclick="toggleAddFringeModal(false)" style="color: black;">Cancel</button>
        <button id="add-fringe-modal-submit" onclick="toggleAddFringeModal(false, true)"
            style="color: green">Add</button>
    </div>
</div>