<div id="delete-version-modal" class="grid-modal" style="height: 5rem; width: 12rem;">
    Delete version?
    <div class="modal-button-container">
        <button id="delete-version-cancel" onclick="toggleDeleteVersionModal(false)"
            style="color: black;">Cancel</button>
        <button id="delete-version-modal-submit" onclick="deleteVersion()" style="color: red">Delete</button>
    </div>
</div>